<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projeto.tcc.coleta_de_leite">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".Utils.BancoOfilline"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="Elite Leitera"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Classes.splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Classes.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
            <activity
                android:screenOrientation="portrait"
                android:name=".Classes.RegistrarActivity"
                android:label="Novo Usuario "
                android:theme="@style/AppTheme">
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Classes.LoginActivity" />
                />

            </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Classes.RedefinirActivity"
            android:label="Esqueci minha senha  "
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Classes.LoginActivity" />
            />

        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".Classes.RotaActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:screenOrientation="portrait"
            android:name=".Classes.ColetaActivity"
            android:label="Listas de Coletas"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:screenOrientation="portrait"
            android:name=".Classes.DadosColetaActivity"
            android:label="Dados Da Coleta"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Classes.DadosColetaActivity" />
            />

        </activity>

        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            android:name=".Classes.CadastroColetaActitity"
            android:label="Nova Coleta"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Classes.CadastroColetaActitity" />
            />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            android:name=".Classes.CadastroRotaActivity"
            android:label="Nova Rota"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Classes.CadastroRotaActivity" />
            />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Classes.UpdateDeleteColetaActivity"
            android:label="Retificar Coleta"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Classes.UpdateDeleteColetaActivity" />
            />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Classes.UpdateDeleteRotaActivity"
            android:label="Retificar Rota"
            android:theme="@style/AppTheme">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Classes.UpdateDeleteRotaActivity" />
        </activity>
    </application>

</manifest>